.nav-cuotas {
    background-color: #526A80;

    p {
        margin-bottom: 0;
        text-align: center;
    }
}

.bg-martin {
    background-color: #a3d4ff;

    .container-fluid {
        .logo {
            img {
                padding: 0px 25px;
                width: 150px;
            }
        }
    }

    div {
        justify-content: space-around;

        ul {
            li {
                a {
                   
                    transition: 1s;

                    &:hover {
                        margin-right: 15px;
                        margin-left: 15px;
                        font-weight:bold;
                       
                    }
                   
                }
            }
        }
    }


    .signos {
        display: flex;
        padding: 20px;
        width: auto;

        .carrito {
            img {
                padding-right: 20px;
                width: 60px;
                transition: 1s;
              
            }
        }

        .corazon {
            img {
                padding-right: 20px;
                width: 70px;
                transition: 1s;
                &:hover{
                    transform: rotate(-40deg,);
                
                }
            }
        }
    }
}